*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
}
#root {
  max-width: 1280px;
  min-width: 0;
  margin-left: auto;
  margin-right: auto;
}

/* Required to implement nested scroller on the layout component*/
:root,
body,
#root {
  height: 100%;
  width: 100%;
}
